@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

:root {
  --book-width: 60rem;
  --book-height: 10rem;
  --border-shelf-color: #723f3b;
  --shelf-inner-color: #2f0e09;
  --border-shelf-size: 50px;
  --padding-and-col-gap: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: 1fr 30rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.6rem;
  background-color: #723f3b6e;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.cards {
  display: flex;
  flex-flow: column-reverse wrap;
  row-gap: 0.1rem;
  /* width: calc(
    var(--book-width) * 2 + (var(--border-shelf-size) * 2) +
      (var(--padding-and-col-gap) * 2) + 4rem
  ); */
  width: 100%;
  height: calc((var(--book-height) * 4.7) + (var(--border-shelf-size) * 2));
  padding: 3rem;
  border: var(--border-shelf-size) solid var(--border-shelf-color);
  background-color: var(--shelf-inner-color);
  column-gap: 4rem;
  padding-bottom: 0.1rem;
  padding-left: 2rem;
}

.cards-sequence {
  border-top: none;
  height: calc((var(--book-height) * 4.7) + var(--border-shelf-size));
}
.book-card {
  display: flex;
  align-items: center;
  width: var(--book-width);
  height: var(--book-height);
  border-radius: 10px;
  background-color: palegoldenrod;
  padding-left: 5rem;
  padding-right: 6rem;
  gap: 2rem;
  position: relative;
}

.title {
  font-size: 2.7rem;
}

.author-and-pages-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  text-align: center;
}

.author-and-pages {
  display: flex;
  flex-direction: column;
  text-align: right;
  white-space: nowrap;
  gap: 1rem;
  margin-left: auto;
}

.delete-btn {
  border: none;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.completed-pages-wrapper {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  height: 0;
  width: 0;
  bottom: 15%;
  z-index: 1;
  padding-left: 1rem;
  border-width: 25px 10px 25px 10px;
  border-color: green;
  border-style: solid;
  border-right-color: transparent;
  display: flex;
  align-items: center;
  color: transparent;
  transition: border-left-width 0.3s, color;
  transition-delay: 0s, 0.03s;
}
.completed-pages {
  width: 4.2rem;
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: -4.1rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  outline: none;
  color: inherit;
}
.completed-pages-wrapper::before {
  content: "p.";
  position: absolute;
  left: -5.8rem;
}

.book-card:hover {
  background: linear-gradient(
      to top right,
      transparent 50%,
      hsl(0deg 50% 49%) 52%
    )
    top right/4.5rem 4rem no-repeat;
}

.book-card:hover .delete-btn {
  display: initial;
}

.book-card:hover .completed-pages-wrapper {
  border-left-width: 70px;
  color: #000;
  transition-delay: 0s, 0.14s;
}

.completed-pages-wrapper:focus-within {
  border-left-width: 70px;
  color: #000;
}

.delete-btn::before,
.delete-btn::after {
  width: 5px;
  height: 18px;
  background-color: hsl(0deg 49% 82%);
  position: absolute;
  content: "";
  top: 2px;
  right: 10px;
  transform: rotate(45deg);
  border-radius: 10px;
}

.delete-btn::after {
  transform: rotate(-45deg);
}

.input-and-label {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#book-form {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 30rem;
  height: 100vh;
  padding: 3rem;
  background-color: hsl(7.9, 22.9%, 49%);
  color: hsl(0, 38.5%, 87.3%);
}

#add-book {
  width: 60%;
  align-self: end;
  margin-top: 1.2rem;
  cursor: pointer;
  font-size: 1.4rem;
}
#add-book:hover {
  opacity: 0.8;
}
#add-book:active {
  opacity: 0.6;
}
#book-form input {
  border-radius: 1rem;
  border: none;
  height: 3rem;
  background-color: #ebd2d2;
  color: #673027;
}
#book-form input:not(input[type="submit"]) {
  padding: 0 1rem;
}
h1 {
  align-self: center;
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#error-message {
  margin-top: 0.9rem;
}

#credit {
  margin-top: auto;
  align-self: center;
}
#credit a {
  margin-left: 5px;
}
#credit img {
  width: 18px;
  opacity: 0.7;
}

/* MEDIA QUERIES */
/* 1730px */
@media (max-width: 108em) {
  html {
    font-size: 58%;
  }
}
/* 1600px */
@media (max-width: 100em) {
  html {
    font-size: 53%;
  }
  #bookshelf,
  #book-form {
    font-size: 1.8rem;
  }
}
/* 1480px */
@media (max-width: 92.5em) {
  html {
    font-size: 48%;
  }
}
/* 1350px */
@media (max-width: 84em) {
  html {
    font-size: 44%;
  }
}
