:root {
  --book-width: 60rem;
  --book-height: 10rem;
  --border-shelf-color: #723f3b;
  --shelf-inner-color: #2f0e09;
  --border-shelf-size: 50px;
  --padding-and-col-gap: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: 1fr 30rem;
  font-family: sans-serif;
  font-size: 1.6rem;
}

.cards {
  display: flex;
  flex-flow: column-reverse wrap;
  row-gap: 0.1rem;
  /* width: calc(
    var(--book-width) * 2 + (var(--border-shelf-size) * 2) +
      (var(--padding-and-col-gap) * 2) + 4rem
  ); */
  width: 100%;
  height: calc((var(--book-height) * 4.7) + (var(--border-shelf-size) * 2));
  padding: 3rem;
  border: var(--border-shelf-size) solid var(--border-shelf-color);
  background-color: var(--shelf-inner-color);
  column-gap: 4rem;
  padding-bottom: 0.3rem;
  padding-left: 2rem;
}

.cards-sequence {
  border-top: none;
  height: calc((var(--book-height) * 4.7) + var(--border-shelf-size));
}
.book-card {
  display: flex;
  align-items: center;
  width: var(--book-width);
  height: var(--book-height);
  border-radius: 10px;
  background-color: palegoldenrod;
  padding-left: 5rem;
  padding-right: 6rem;
  gap: 2rem;
  position: relative;
}

.title {
  font-size: 2.7rem;
}

.author-and-pages-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  text-align: center;
}

#book-form {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  width: 30rem;
  height: 100vh;
  padding: 3rem 3rem 0;
  background-color: palegoldenrod;
}

.author-and-pages {
  display: flex;
  flex-direction: column;
  text-align: right;
  white-space: nowrap;
  gap: 1rem;
  margin-left: auto;
}

.delete-btn {
  border: none;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.completed-pages-wrapper {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  height: 0;
  width: 0;
  bottom: 15%;
  z-index: 1;
  padding-left: 1rem;
  border-width: 25px 10px 25px 10px;
  border-color: green;
  border-style: solid;
  border-right-color: transparent;
  display: flex;
  align-items: center;
  color: transparent;
  transition: border-left-width 0.3s, color;
  transition-delay: 0s, 0.03s;
}
.completed-pages {
  width: 4.2rem;
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: -4.1rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  outline: none;
  color: inherit;
}
.completed-pages-wrapper::before {
  content: "p.";
  position: absolute;
  left: -5.8rem;
}

.book-card:hover {
  background: linear-gradient(to top right, transparent 50%, red 52%) top
    right/5rem 4rem no-repeat;
}

.book-card:hover .delete-btn {
  display: initial;
}

.book-card:hover .completed-pages-wrapper {
  border-left-width: 70px;
  color: #000;
  transition-delay: 0s, 0.14s;
}

.completed-pages-wrapper:focus-within {
  border-left-width: 70px;
  color: #000;
}
.delete-btn::before {
  width: 5px;
  height: 18px;
  background-color: white;
  position: absolute;
  content: "";
  top: 2px;
  right: 10px;
  transform: rotate(45deg);
  border-radius: 10px;
}

.delete-btn::after {
  width: 5px;
  height: 18px;
  background-color: white;
  position: absolute;
  content: "";
  top: 2px;
  right: 10px;
  transform: rotate(-45deg);
  border-radius: 10px;
}
