* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  padding: 3rem;
}

.book-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 25rem;
  height: 30rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: palegoldenrod;
}

.title {
  font-size: 3.6rem;
}

.author {
  /* font-size: 2.2rem; */
  text-transform: uppercase;
}

.add-book-form {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  width: 30rem;
  height: 100vh;
  padding: 3rem 3rem 0;
  background-color: palegoldenrod;
}
